services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - redis
      - mongo
    environment:
      - REDIS_HOST=redis
      - MONGO_URI=mongodb://mongo:27017/queue_db

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - redis
      - mongo
    environment:
      - REDIS_HOST=redis
      - MONGO_URI=mongodb://mongo:27017/queue_db

  viewer:
    build: ./viewer
    container_name: viewer
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/queue_db
    ports:
      - "3000:3000"

volumes:
  mongo_data:
