apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: dist-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: consumer:latest
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: MONGO_URI
              value: "mongodb://mongo:27017/queue_db"
