apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: dist-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
        - name: producer
          image: producer:latest
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: MONGO_URI
              value: "mongodb://mongo:27017/queue_db"